<!DOCTYPE html
	PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml">

<head>
	<meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
	<title>管理员管理-有点</title>
	<link rel="stylesheet" type="text/css" href="css/css.css" />
	<script type="text/javascript" src="js/jquery.min.js"></script>
	<!--引入vue-->
	<script type="text/javascript" src="vuejs/vuejs-2.5.16.js"></script>
	<script type="text/javascript" src="vuejs/axios-0.18.0.js"></script>
	<script src="//cdnjs.cloudflare.com/ajax/libs/blueimp-md5/2.10.0/js/md5.js"></script>
</head>

<body>
	<div id="adminUserPage">
		<div id="pageAll">
			<div class="pageTop">
				<div class="page">
						<img src="img/coin02.png" /><span><a href="#">首页</a>&nbsp;-&nbsp;<a
							href="#">网站管理</a>&nbsp;-</span>&nbsp;网站管理
				</div>
			</div>

			<div class="page">
				<!-- adminuser 页面样式 -->
				<div class="connoisseur">
					<div class="conform">
						<form>
							<div class="cfD">
								<input class="userinput" type="text" placeholder="输入用户名" v-model="user.account" />&nbsp;&nbsp;&nbsp;-&nbsp;&nbsp;&nbsp;
								<input class="userinput vpr" type="text" placeholder="输入用户密码" v-model="user.password" />
								<button class="userbtn" v-on:click="addManageUser">添加</button>
							</div>
						</form>
					</div>
					<!-- user 表格 显示 -->
					<div class="conShow">
						<table border="1" cellspacing="0" cellpadding="0">
							<tr>
								<td width="66px" class="tdColor tdC">序号</td>
								<td width="400px" class="tdColor">用户名</td>
								<td width="70px" class="tdColor">uid</td>
								<td width="130px" class="tdColor">操作</td>
							</tr>
							<tr height="40px" v-for="(item,index) in manageUsers">
								<td>{{index}}</td>
								<td>{{item.account}}</td>
								<td>{{item.uid}}</td>
								<td>
									<img class="operation delban" src="img/delete.png" v-on:click="showDelete(item.uid)">
								</td>
							</tr>
						</table>
						<div class="paging">此处是分页</div>
					</div>
					<!-- user 表格 显示 end-->
				</div>
				<!-- user页面样式end -->
			</div>
		</div>

		<!-- 删除弹出框 -->
		<div class="banDel">
			<div class="delete">
				<div class="close" v-on:click="closeDelete">
					<a><img src="img/shanchu.png" /></a>
				</div>
				<p class="delP1">你确定要删除此条记录吗？</p>
				<p class="delP2">
					<a href="#" class="ok yes" v-on:click="deleteUser">确定</a><a class="ok no" v-on:click="noDelete">取消</a>
				</p>
			</div>
		</div>
		<!-- 删除弹出框  end-->
	</div>
</body>

<script type="text/javascript">

	new Vue({
		el: "#adminUserPage",
		data: {
			manageUsers: [],
			deleteUId:"",
			user:{
				account:"",
				password:""
			}
		},
		methods: {
			//弹出删除框
			showDelete: function (uid) {
				//console.log(uid)
				this.deleteUId = uid
				$(".banDel").show();
			},
			//关闭弹出框
			closeDelete:function(){
				$(".banDel").hide();
			},
			//取消删除
			noDelete:function(){
				$(".banDel").hide();
			},
			//确认删除
			deleteUser:function(){
				//console.log("删除该管理员 ")
				var that = this
				axios.get('http://localhost:8989/system/deleteManageUserByUid',{
					params:{
						uid:that.deleteUId
					}
				})
				.then(function(res){
					//console.log(res)
					if(res.data.status==200){
						//删除成功
						window.location.reload()
					}else{
						alert("删除失败,原因:"+res.data.data)
					}
				})
				.catch(function(err){
					console.log(err)
				})
			},
			//添加管理员
			addManageUser:function(){
				var that = this
				//用户名和密码不能为空
				if(this.user.account!=""&&this.user.password!=""){
					//密码MD5加密
					axios.post('http://localhost:8989/system/addManageUser',{
						account:that.user.account,
						password:md5(that.user.password)
					})
					.then(function(res){
						//console.log(res)
					})
					.catch(function(err){
						console.log(err)
					})
				}else{
					alert("用户名或者密码不能为空")
				}
			}	
		},
		created: function (res) {
			var that = this
			axios.get('http://localhost:8989/system/getManageUser')
				.then(function (res) {
					//console.log(res)
					if (res.data.status = 200) {
						that.manageUsers = res.data.data
					}else{
						alert("显示失败，原因:"+res.data.data)
					}
				})
				.catch(function (err) {
					console.log(err)
				})
		}
	})
// 广告弹出框 end
</script>

</html>