<!DOCTYPE html>
<html>

<head>
    <meta name="keywords" content="heygis,地理信息科学,中南林业科技大学GIS">
    <meta name="description" content="中南林业科技大学gis协会官方网站注册页面">
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">

    <script src="//cdn.bootcss.com/jquery/2.1.4/jquery.js"></script>
    <script src="//cdn.bootcss.com/jquery.form/3.51/jquery.form.js"></script>
    <script src="//cdn.bootcss.com/bootstrap/3.3.6/js/bootstrap.min.js"></script>
    <link href="//cdn.bootcss.com/bootstrap/3.3.6/css/bootstrap.min.css" rel="stylesheet">

    <script type="text/javascript" src="js/loginJS.js"></script>
    <!-- <script type="text/javascript" src="js/registerJS.js"></script> -->
    <link href="http://localhost:8988/css/navCSS.css" rel="stylesheet" type="text/css">
    <link href="http://localhost:8988/css/footStyle.css" rel="stylesheet" type="text/css">
    <link href="http://localhost:8988/css/indexSourceStyle.css" rel="stylesheet" type="text/css">
    <link href="http://localhost:8988/css/loginStyle.css" rel="stylesheet" type="text/css" />
    <link href="http://localhost:8988/css/registerStyle.css" rel="stylesheet" type="text/css" />
    <link rel="stylesheet" media="screen" href="css/BGstyle.css">
    <!-- 引入vue和axios -->
    <script src="http://localhost:8988/vuejs/vuejs-2.5.16.js"></script>
    <script src="http://localhost:8988/vuejs/axios-0.18.0.js"></script>

    <title>heygis-注册</title>
</head>

<body>
    <!-- header -->
    <div id="components-header">
        <header-counter></header-counter>
    </div>
    <script src="http://localhost:8988/component/headerComponent.js"></script>
    <!-- end header -->
    <div style="position:absolute; width:100%;height:100%">
        <div id="particles-js"></div>
        <script src="js/particles.js"></script>
        <script src="js/app.js"></script>
    </div>
    <div id="page">
        <div class="container mainbody">
            <div class="row"><br /> <br /> <br />
                <h1 class="text-primary">注册</h1>
                <br />
                <div class="col-sm-offset-3 col-sm-6">
                    <!-- <form class="form-horizontal" role="form" id="registerForm" action="registerServlet" method="get"> -->
                    <form class="form-horizontal" role="form" id="registerForm" v-on:submit.prevent="register">
                        <div class="form-group">
                            <div class="col-xs-offset-1 col-xs-10">s
                                <input type="email" class="form-control" v-model="user.account" v-on:blur="checkEmail"
                                    placeholder="邮箱">
                            </div>
                            <div class="col-xs-1 judge">
                                <label class="control-label" id="mark1" v-html="mark1"></label>
                            </div>
                        </div>
                        <div class="form-group">
                            <div class="col-xs-offset-1 col-xs-10">
                                <input type="password" class="form-control" v-model="user.password" v-on:blur="checkPwd"
                                     placeholder="密码(已使用md5加密) 6~22位数字字符或者特殊符号">
                            </div>
                            <div class="col-xs-1 judge">
                                <label class="control-label" id="mark2" v-html="mark2"></label>
                            </div>
                        </div>
                        <div class="form-group">
                            <div class="col-xs-offset-1 col-xs-10">
                                <input type="password" class="form-control" v-model="user.repassword" v-on:blur="checkRePwd"  placeholder="请再次输入密码">
                            </div>
                            <div class="col-xs-1 judge">
                                <label class="control-label" id="mark3" v-html="mark3"></label>
                            </div>
                        </div>
                        <div class="form-group">
                            <div class="col-xs-offset-1 col-xs-10">
                                <input type="text"  class="form-control" v-model="user.nickName" v-on:blur="checkNickName"
                                    placeholder="昵称">
                            </div>
                            <div class="col-xs-1 judge">
                                <label class="control-label" id="mark4" v-html="mark4"></label>
                            </div>
                        </div>
                        <div class="form-group">
                            <div class="col-xs-offset-1 col-xs-10">
                                <!-- <input type="text" name="grade" class="form-control" id="inputGrade"
                                            placeholder="入学年份 例如：2013" onblur="testGrade()"> -->
                                <input type="text" name="grade" class="form-control" v-model="user.grade" v-on:blur="checkGrade"
                                    placeholder="入学年份 例如：2013">
                            </div>
                            <div class="col-xs-1 judge">
                                <label class="control-label" id="mark5" v-html="mark5"></label>
                            </div>
                        </div>
                        <div class="form-group">
                            <div class="col-xs-offset-1 col-xs-10" id="submitt">
                                <!-- <button class="btn btn-primary btn-block" type="button" onclick="register()">注册</button> -->
                                <button class="btn btn-primary btn-block" type="submit">注册</button>
                            </div>
                        </div>
                    </form>
                </div>
            </div>
        </div>
    </div>
    <br />
    <!-- footer -->
    <!-- <div id="components-footer">
        <footer-counter></footer-counter>
    </div>
    <script src="http://localhost:8988/component/footerComponent.js"></script> -->
    <!-- footer end -->
    <div class="theme-popover-mask"></div>
</body>

</html>
<script src="//cdnjs.cloudflare.com/ajax/libs/blueimp-md5/2.10.0/js/md5.js"></script>
<script src="http://localhost:8988/vuejs/register.js"></script>