<div>
    <div class="navbar navbar-default navbar-fixed-top navbar-inverse nav">
        <div class="container">
            <div class="navbar-header">
                <button type="button" class="navbar-toggle newMsgMark hidden" data-toggle="collapse"
                    data-target="#navbar-ex-collapse">
                    <span class="badge">4</span></button>
                <button style="margin-right:4px" type="button" class="navbar-toggle" data-toggle="collapse"
                    data-target="#navbar-ex-collapse">
                    <span class="sr-only">Toggle navigation</span>
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                </button>
                <a class="navbar-brand" href="###">
                    <span class="heygis">HeyGIS</span></a>
            </div>
            <div class="collapse navbar-collapse" id="navbar-ex-collapse">
                <ul class="nav navbar-nav navbar-right">
                    <li class="active">
                        <a href="http://localhost:8988/index.html/###">首页</a></li>
                    <li>
                        <a href="http://localhost:8988/index.html/#bbs">论坛区</a></li>
                    <li>
                        <a href="http://localhost:8988/index.html/#sourceDownLoad">资源区</a></li>
                    <li>
                        <a href="http://localhost:8988/index.html/#lkdVR">林科大全景</a></li>
                    <!--登录判断-->
                    <li v-if="loginFlag">
                        <a href="/selfCenter.html">个人中心
                            <span class="badge hidden">4</span></a>
                    </li>
                    <li v-if="loginFlag">
                        <!--<a class="btn"href="javascript:document:logout.submit()">退出</a>-->
                        <a class="btn" href="javascript:;" v-on:click="logout">退出</a></li>
                    <li v-if="!loginFlag">
                        <a class="btn theme-login" href="javascript:;" v-on:click="showLoginForm">登录</a></li>
                    <li v-if="!loginFlag">
                        <a class="btn " href="/register.html">注册</a></li>
                </ul>
            </div>
        </div>
    </div>

    <div class="theme-popover col-md-12">
        <div class="theme-poptit">
            <a href="javascript:;" title="关闭" class="close" v-on:click="closeForm">×</a>
            <h3>登录是一种态度</h3>
        </div>
        <div class="theme-popbod dform">
            <form id="loginForm" class="theme-signin" name="loginform" v-on:submit.prevent="login">
                <ol>
                    <li>
                        <h4 id="loginMessage">你必须先登录！</h4>
                    </li>
                    <li>
                        <strong>用户名：</strong>
                        <input class="ipt" type="text" v-model="user.account" size="20" placeholder="账号（邮箱）" required />
                    </li>
                    <li>
                        <strong>密码：</strong>
                        <input class="ipt" type="password" v-model="user.password" placeholder="密码" size="20"
                            required /></li>
                    <li>
                        <input class="btn btn-primary" type="submit" name="submit" value=" 登 录  " />
                        <a href="register.html">&nbsp;注册</a></li>
                </ol>
            </form>
        </div>
    </div>
</div>

<div class="container-fluid footer">
    <div class="container row-fluid foot">
        <div class="col-md-4  col-sm-6 foot-left">
            <h1 class="footh1">联系我们</h1>Email:heygis@163.com
            <br/>QQ:1018445130或835035738
            <br/>Address:长沙市韶山南路498号中南林业科技大学
            <br/></div>
        <div class="col-md-4  col-sm-6 foot-right">
            <h1 class="footh1">相关链接</h1>
            <a href="feedbackServlet">意见反馈</a>
            <br/>
            <a href="aboutWeb.jsp">关于本网站</a>
            <br/>
            <a href="aboutMaker.jsp">关于制作者</a>
            <br/></div>
        <div class="col-md-4  col-sm-12 shenming">
            <span>注意：本站资源均来源于原创或网络,如有侵权请联系站长清除。</span>
            <br/>
            <a href="http://www.miibeian.gov.cn/state/outPortal/loginPortal.action" target="_blank">湘ICP备16006264</a>
        </div>
    </div>
</div>



                        <div class="tab-pane active" id="panel-1">
								<div id="main">
									<div class="inner">
										<header class="page-header">
											<h1 class="text-primary sourceTitle" >总结大会</h1>
											<div class="btn-group btn-choose" >
											  <button type="button" class="btn btn-primary dropdown-toggle choose" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
											    默认排序 <span class="caret"></span>
											  </button>
											  <ul class="dropdown-menu">
											  	<li>
											    	<div class="input-group input-group-sm">
												      <input type="text" class="form-control" placeholder="search" aria-describedby="sizing-addon3" id="searchCtx1">
												      <span class="input-group-btn">
												        <a class="btn btn-default btn-sm" type="button" href="javascript:search(1)" onclick="clearPageNo(1)"><span class="glyphicon glyphicon-search" aria-hidden="true"></span></a>
												      </span>
												    </div>
												</li>
											    <li><a href="javascript:timecho(1,1)" id="timecho">按上传时间</a></li>
											    <li><a href="javascript:timescho(1,2)" id="timescho">按下载数</a></li>
											    <li><a href="javascript:alphacho(1,3)" id="alphacho">按字母</a></li>
											    <li><a href="javascript:sizecho(1,4)"  id="sizecho">按文件大小</a></li>
											    <li role="separator" class="divider"></li>
											    <li><a href="javascript:defaultcho(1,0)" id="defaultcho">默认排序</a></li>
											  </ul>
											</div>
											<p>每一年的总结大会的作品都整理在了这里，欢迎大家互相借鉴，互相学习。</p>
										</header>
										<nav>
										  <ul class="pager">
										    <li class="previous"><a href="" onclick="toLast(1,sortWay1);return false"><span aria-hidden="true">&larr;</span>上一页</a></li>
										    <li class="next"><a href="" onclick="toNext(1,sortWay1);return false">下一页 <span aria-hidden="true">&rarr;</span></a></li>
										  </ul>
										</nav>
										<section class="tiles" id="section_1">
											<article class="style3">
											        <span class="image">
														<img src="img/pic2.jpg" alt="" />
													</span>
													<div class="detail">
													<h2>XXX作品(XXX年级)</h2>
													<h4>作者:XXX</h4>
													<h4>下载次数:XXXX</h4>
													<h5>文件大小:XXX</h5>
													<h5>上传时间:XXX</h5>
													<div class="content">
														<p>XXX介绍</p>
														<a class="btn btn-primary btn-lg change" href="" onclick="return checkLog('')">本站下载地址</a>
													</div>
												</div>
											</article>
										</section>
										<nav>
										  <ul class="pager">
										    <li class="previous"><a href="" onclick="toLast(1,sortWay1);return false"><span aria-hidden="true">&larr;</span>上一页</a></li>
										    <li class="next"><a href="" onclick="toNext(1,sortWay1);return false">下一页 <span aria-hidden="true">&rarr;</span></a></li>
										  </ul>
										</nav>
									</div>
								</div>
							</div>

							<div class="tab-pane active" id="panel-2">
								<div id="main">
									<div class="inner">
										<header class="page-header">
											<h1 class="text-primary sourceTitle">课堂源码</h1>
											<div class="btn-group btn-choose" >
											  <button type="button" class="btn btn-primary dropdown-toggle choose" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
											    默认排序 <span class="caret"></span>
											  </button>
											  <ul class="dropdown-menu">
											  	<li>
											    	<div class="input-group input-group-sm">
												      <input type="text" class="form-control" placeholder="search" aria-describedby="sizing-addon3" id="searchCtx2">
												      <span class="input-group-btn">
												        <a class="btn btn-default btn-sm" type="button" href="javascript:search(2)" onclick="clearPageNo(2)"><span class="glyphicon glyphicon-search" aria-hidden="true"></span></a>
												      </span>
												    </div>
												</li>
											    <li><a href="javascript:timecho(2,1)" id="timecho">按上传时间</a></li>
											    <li><a href="javascript:timescho(2,2)" id="timescho">按下载数</a></li>
											    <li><a href="javascript:alphacho(2,3)" id="alphacho">按字母</a></li>
											    <li><a href="javascript:sizecho(2,4)"  id="sizecho">按文件大小</a></li>
											    <li role="separator" class="divider"></li>
											    <li><a href="javascript:defaultcho(2,0)" id="defaultcho">默认排序</a></li>
											  </ul>
											</div>
											<p>不仅要看懂课堂上的代码，还要多敲多练。锻炼手指的记忆，增强代码熟练度。</p>
										</header>
										<nav>
										  <ul class="pager page">
										    <li class="previous"><a href="" onclick="toLast(2,sortWay2);return false"><span aria-hidden="true">&larr;</span>上一页</a></li>
										    <li class="next"><a href="" onclick="toNext(2,sortWay2);return false">下一页 <span aria-hidden="true">&rarr;</span></a></li>
										  </ul>
										</nav>
										<section class="tiles" id="section_2">
                                            <article class="style3">
                                                    <span class="image">
                                                        <img src="img/pic2.jpg" alt="" />
                                                    </span>
                                                    <div class="detail">
                                                    <h2>XXX作品(XXX年级)</h2>
                                                    <h4>作者:XXX</h4>
                                                    <h4>下载次数:XXXX</h4>
                                                    <h5>文件大小:XXX</h5>
                                                    <h5>上传时间:XXX</h5>
                                                    <div class="content">
                                                        <p>XXX介绍</p>
                                                        <a class="btn btn-primary btn-lg change" href="" onclick="return checkLog('')">本站下载地址</a>
                                                    </div>
                                                </div>
                                            </article>
										</section>
										<nav>
										  <ul class="pager">
										    <li class="previous"><a href="" onclick="toLast(2,sortWay2);return false"><span aria-hidden="true">&larr;</span>上一页</a></li>
										    <li class="next"><a href="" onclick="toNext(2,sortWay2);return false">下一页 <span aria-hidden="true">&rarr;</span></a></li>
										  </ul>
										</nav>
									</div>
								</div>
							</div> -->
							<div class="tab-pane active" id="panel-3">
								<div id="main">
									<div class="inner">
										<header class="page-header">
											<h1 class="text-primary sourceTitle">开发工具</h1>
											<div class="btn-group btn-choose" >
											  <button type="button" class="btn btn-primary dropdown-toggle choose" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
											    默认排序 <span class="caret"></span>
											  </button>
											  <ul class="dropdown-menu">
											  	<li>
											    	<div class="input-group input-group-sm">
												      <input type="text" class="form-control" placeholder="search" aria-describedby="sizing-addon3" id="searchCtx3">
												      <span class="input-group-btn">
												        <a class="btn btn-default btn-sm" type="button" href="javascript:search(3)" onclick="clearPageNo(3)"><span class="glyphicon glyphicon-search" aria-hidden="true"></span></a>
												      </span>
												    </div>
												</li>
											    <li><a href="javascript:timecho(3,1)" id="timecho">按上传时间</a></li>
											    <li><a href="javascript:timescho(3,2)" id="timescho">按下载数</a></li>
											    <li><a href="javascript:alphacho(3,3)" id="alphacho">按字母</a></li>
											    <li><a href="javascript:sizecho(3,4)"  id="sizecho">按文件大小</a></li>
											    <li role="separator" class="divider"></li>
											    <li><a href="javascript:defaultcho(3,0)" id="defaultcho">默认排序</a></li>
											  </ul>
											</div>
											<p class="futitle">如果只是在面临老师布置的各种课程设计时才想到我的话，那就太可惜了。</>
										</header>
										<nav>
										  <ul class="pager">
										    <li class="previous"><a href="" onclick="toLast(3,sortWay3);return false"><span aria-hidden="true">&larr;</span>上一页</a></li>
										    <li class="next"><a href="" onclick="toNext(3,sortWay3);return false">下一页 <span aria-hidden="true">&rarr;</span></a></li>
										  </ul>
										</nav>
										<section class="tiles" id="section_3">
											<article class="style3">
                                                    <span class="image">
                                                        <img src="img/pic2.jpg" alt="" />
                                                    </span>
                                                    <div class="detail">
                                                        <h2>XXX作品(XXX年级)</h2>
                                                        <h4>作者:XXX</h4>
                                                        <h4>下载次数:XXXX</h4>
                                                        <h5>文件大小:XXX</h5>
                                                        <h5>上传时间:XXX</h5>
                                                        <div class="content">
                                                            <p>XXX介绍</p>
                                                            <a class="btn btn-primary btn-lg change" href="" onclick="return checkLog('')">本站下载地址</a>
                                                        </div>
                                                    </div>
                                            </article>
										</section>
										<nav>
										  <ul class="pager">
										    <li class="previous"><a href="" onclick="toLast(3,sortWay3);return false"><span aria-hidden="true">&larr;</span>上一页</a></li>
										    <li class="next"><a href="" onclick="toNext(3,sortWay3);return false">下一页 <span aria-hidden="true">&rarr;</span></a></li>
										  </ul>
										</nav>
									</div>
								</div>
                            </div>
                            
							<div class="tab-pane active" id="panel-4">
								<div id="main">
									<div class="inner">
										<header class="page-header">
											<h1 class="text-primary sourceTitle">拓展强化</h1>
											<div class="btn-group btn-choose" >
											  <button type="button" class="btn btn-primary dropdown-toggle choose" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
											    默认排序 <span class="caret"></span>
											  </button>
											  <ul class="dropdown-menu">
											  	<li>
											    	<div class="input-group input-group-sm">
												      <input type="text" class="form-control" placeholder="search" aria-describedby="sizing-addon3" id="searchCtx4">
												      <span class="input-group-btn">
												        <a class="btn btn-default btn-sm" type="button" href="javascript:search(4)" onclick="clearPageNo(4)"><span class="glyphicon glyphicon-search" aria-hidden="true"></span></a>
												      </span>
												    </div>
												</li>
											    <li><a href="javascript:timecho(4,1)"  onclick="clearPageNo(4)" id="timecho">按上传时间</a></li>
											    <li><a href="javascript:timescho(4,2)" onclick="clearPageNo(4)" id="timescho">按下载数</a></li>
											    <li><a href="javascript:alphacho(4,3)" onclick="clearPageNo(4)" id="alphacho">按字母</a></li>
											    <li><a href="javascript:sizecho(4,4)" onclick="clearPageNo(4)"  id="sizecho">按文件大小</a></li>
											    <li role="separator" class="divider"></li>
											    <li><a href="javascript:defaultcho(4,0)" onclick="clearPageNo(4)" id="defaultcho">默认排序</a></li>
											  </ul>
											</div>
											<p>青春不是用来虚度的，而是用来投资自己的。</p>
										</header>
										<nav>
										  <ul class="pager">
										    <li class="previous"><a href="" onclick="toLast(4,sortWay4);return false"><span aria-hidden="true">&larr;</span>上一页</a></li>
										    <li class="next"><a href="" onclick="toNext(4,sortWay4);return false">下一页 <span aria-hidden="true">&rarr;</span></a></li>
										  </ul>
										</nav>
										<section class="tiles" id="section_4">
											<article class="style3">
                                                <span class="image">
                                                    <img src="img/pic2.jpg" alt="" />
                                                </span>
                                                <div class="detail">
                                                <h2>XXX作品(XXX年级)</h2>
                                                <h4>作者:XXX</h4>
                                                <h4>下载次数:XXXX</h4>
                                                <h5>文件大小:XXX</h5>
                                                <h5>上传时间:XXX</h5>
                                                <div class="content">
                                                    <p>XXX介绍</p>
                                                    <a class="btn btn-primary btn-lg change" href="" onclick="return checkLog('')">本站下载地址</a>
                                                </div>
                                            </div>
                                         </article>
										</section>
										<nav>
										  <ul class="pager">
										    <li class="previous"><a href="" onclick="toLast(4,sortWay4);return false"><span aria-hidden="true">&larr;</span>上一页</a></li>
										    <li class="next"><a href="" onclick="toNext(4,sortWay4);return false">下一页 <span aria-hidden="true">&rarr;</span></a></li>
										  </ul>
										</nav>
									</div>
								</div>
                            </div>
