<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
"http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.heygis.mapper.UserMapper">

	<select id="queryUserByAccountAndPassWord" parameterType="users" resultType="users">
		SELECT
			uid,
			account
		FROM
			users
		WHERE
			account = #{account} and password=#{password}
	</select>

	<select id="checkAccount" parameterType="String" resultType="int">
		SELECT
			count(*)
		FROM
			users
		WHERE
			account = #{account}
	</select>

	<select id="checkNickName" parameterType="String" resultType="int">
		SELECT
			count(*)
		FROM
			users_info
		WHERE
			nickname = #{nickName}
	</select>

	<insert id="insertUsers" parameterType="users" >
		<selectKey resultType="int" order="AFTER" keyProperty="uid">
			SELECT LAST_INSERT_ID()
		</selectKey>
		INSERT INTO users (account, PASSWORD)
		VALUES
		(
		#{account},#{password})
	</insert>

	<insert id="insertUsersInfo" parameterType="users">
		  INSERT INTO users_info (
			uid,
			account,
			mail,
			grade,
			nickname
		)
		  VALUES
		  (
		  #{uid},#{account},#{mail},#{grade},#{nickname})
	</insert>

	<select id="queryUserInfoByUid" parameterType="int" resultType="UsersInfo">
		SELECT
			uid,
			account,
			gender,
			tel,
			QQ,
			selfintroduction,
			icon_img,
			grade,
			nickname,
			NAME
		FROM
			users_info
		WHERE
			uid = #{uid}
	</select>

	<update id="updateUserInfoByUid" parameterType="UsersInfo">
		UPDATE users_info
		SET nickname = #{nickname},grade=#{grade},gender=#{gender},selfintroduction=#{selfintroduction},QQ=#{qq},tel=#{tel},name=#{name} where uid=#{uid}
	</update>

	<update id="updateUserIconByUid" parameterType="UsersInfo">
		UPDATE users_info
		SET icon_img = #{icon_img} where uid=#{uid}
	</update>

	<select id="queryUserList" resultType="users">
		SELECT
			account,
			uid
		FROM
			users
	</select>
</mapper>